<!doctype html>
<head>
  <meta charset="utf-8">
  
  <title>WearAbouts</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../js/camera.js"></script>
  <script type="text/javascript" src="../../cordova.js"></script>
</head>
<body>
  <div class="navbar">
    <button id="camera_button" type="button" class="navbar-element btn on-page"><i class="fa fa-camera-retro fa-2x"></i></button>
    <button id="feed_button" type="button" class="navbar-element btn"><i class="fa fa-question-circle fa-2x"></i></button>
    <button id="stats_button" type="button" class="navbar-element btn"><i class="fa fa-bar-chart fa-2x"></i> </button>
    <button id="logout_button" type="button" class="navbar-element btn"><i class="fa fa-power-off fa-2x"></i> </button>
  </div>
  <div class="container">
    <div class="camera_shot" id="camera_shot1"><p id="camera_text1">Outfit 1<br><i class="fa fa-camera"></i></p><img id="pic1"src=""></div>
    <br>
    <div class="camera_shot" id="camera_shot2"><p id="camera_text2">Outfit 2<br><i class="fa fa-camera"></i></p><img id="pic2" src=""></div>
    <br>
    <button id="picture_submit" type="submit">Submit!</button>
  </div>
</body>
</html>



