@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Light.otf') format("opentype");
}

body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: white;
	margin-bottom: 0;
	padding-bottom: 0;
	color: white;
}

.topbar {
	position: relative;
	top: 0;
	background-color: white;
	width: 100%;
	color: #DE1F12;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
}

.image {
	margin-top: 7px;
	margin-bottom: 5px;
	width: 100%;
}

.image img {
	width: 100%;
	display: block;
	margin: auto;
	border-radius: 0%;
	border-bottom: 2px solid white;
	margin-bottom: 20px;
}

.image-info, .image-below {
	width: 100%;
}

.image-info .location, .image-info .time {
	width: 47.5%;
	float: left;
}

.image-info .location {
	margin-left: 2.5%;
}

.image-info .time {
	margin-right: 2.5%;
	text-align: right;
}

.image-below {
	margin-top: 5px;
	width: 100%;
}
8
.frame-it-btn {
	background-color: black;
	border-radius: 0;
	color: #DE1F12;
	float: left;
}

.already-framed {
	background-color: white;
}

.frame-it p {
	float: left;
	margin-top: -30px;
	margin-left: 50px;
}

.image-below .frame-it {
	margin-left: 2.5%;
	width: 50px;
	float: left;
}

.image-below .user {
	margin-right: 2.5%;
	width: 50%;
	float: right;
}

.framed-main-img {
	border: 10px solid white;
}

.image-below .user img {
	border-radius: 25px;
	width: 50px;
	float: right;
}

.image-below .user p {
	margin-top: 15px;
	margin-right: 60px;
	text-align: right;
}

.last img {
	margin-bottom: 10px;
	border-bottom: none;
	/*margin-bottom: 0;*/
}

.navbar {
	position: relative;
	bottom: 0;
	height: 4.5em;
	width: 100%;
	background-color: #white;
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid #DE1F12;
}

.navbar-element {
	width: 25%;
	padding: 0;
	margin: 0;
	float: left;
	background-color: white;
	padding: none;
	border-left: none;
	border-bottom: none;
	border-top: none;
	border-right: none;
	height: 100%;
	color: #DE1F12;
}

/*.source {
	font-size: 25px;
}*/

.navbar-element-last {
	width: 25%;
	padding: 0;
	margin: 0;
	float: left;
	background-color: #white;
	border-right: none;
	height: 100%;
	color: #DE1F12;
}

button {
	border-radius: 0 !important;
}

.on-page {
	background-color: white;
}

.page {
	height: 100%;
	width: 100%;
	background-color: black;
	padding-bottom: 60px;
}

.trending {
	text-transform: uppercase;
	text-align: center;
	color: #DE1F12;
}

.trending-well {
	background-color: white;
	color: #DE1F12;
}

.places {
	text-align: center;
}

.places button {
	background-color: #DE1F12;
	color: white;	
}
.logincontainer{
background-color: white;
color: black;
width: 100%;
Height: 100%;



}