@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Light.otf') format("opentype");
}


#count1{
color:#DE1F12;
background-color: white;
width:100%;
font-family:Tahoma, Geneva, sans-serif;
position:relative;
font-size: 150%;

}

#count2{
color:#DE1F12;
background-color: white;
width:100%;
font-family:Tahoma, Geneva, sans-serif;
position:relative;
font-size: 150%;
}


#logintitle{
color:white;
background-color: #DE1F12;
width:100%;
font-family:Tahoma, Geneva, sans-serif;
font-weight:900;
position:relative;
font-size: 300%;

}

#loginline{
width:100%;
}

#neither{
width:100%;
height:8%;
background-color:#DE1F12; 
position:realtive;
color:white;
font-weight:bold;
border: 1px solid #DE1F12;

margin-top:2em;
margin-bottom:2em;
}

#pic1{
width:100%;
max-height:14em;
overflow: hidden;
background-color:whtie; 
position:realtive;
float:center;
color:#DE1F12;
font-weight:bold;
margin-top:0px;
border-bottom:2px solid #DE1F12 ;
border-top:2px solid #DE1F12 ;
}

#pic2{
width:100%;
max-height:14em;
overflow: hidden;
background-color:whtie; 
position:realtive;
float:center;
color:#DE1F12;
font-weight:bold;
border-bottom:2px solid #DE1F12 ;
border-top:2px solid #DE1F12 ;
}





.loginbutton{
color:white;
background-color:#DE1F12;
margin-bottom: 10px;
width:40%;
padding-top:10px;
padding-bottom:10px;
border-radius: 10px;
border: 1px solid white;
}


.loginbutton{
color:white;
background-color:#DE1F12;
margin-bottom: 10px;
width:100%;
padding-top:10px;
padding-bottom:10px;
border-radius: 10px;
border: 1px solid white;
}


#logincontainer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: grey;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-size:115%;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;


}
.form-signin input[type="password"] {
  margin-bottom: 10px;


}

.form-control{



border-radius: 10px;
margin-bottom:3%;


}
.password{

height:auto;

}

body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: white;
	margin-bottom: 0;
	padding-bottom: 0;
	color: white;
}

.topbar {
	position: relative;
	top: 0;
	background-color: white;
	width: 100%;
	color: #DE1F12;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
}

.image {
	margin-top: 7px;
	margin-bottom: 5px;
	width: 100%;
}

.image img {
	width: 100%;
	display: block;
	margin: auto;
	border-radius: 0%;
	border-bottom: 2px solid white;
	margin-bottom: 20px;
}

.image-info, .image-below {
	width: 100%;
}

.image-info .location, .image-info .time {
	width: 47.5%;
	float: left;
}

.image-info .location {
	margin-left: 2.5%;
}

.image-info .time {
	margin-right: 2.5%;
	text-align: right;
}

.image-below {
	margin-top: 5px;
	width: 100%;
}
8
.frame-it-btn {
	background-color: black;
	border-radius: 0;
	color: #DE1F12;
	float: left;
}

.already-framed {
	background-color: white;
}

.frame-it p {
	float: left;
	margin-top: -30px;
	margin-left: 50px;
}

.image-below .frame-it {
	margin-left: 2.5%;
	width: 50px;
	float: left;
}

.image-below .user {
	margin-right: 2.5%;
	width: 50%;
	float: right;
}

.framed-main-img {
	border: 10px solid white;
}

.image-below .user img {
	border-radius: 25px;
	width: 50px;
	float: right;
}

.image-below .user p {
	margin-top: 15px;
	margin-right: 60px;
	text-align: right;
}

.last img {
	margin-bottom: 10px;
	border-bottom: none;
	/*margin-bottom: 0;*/
}

.navbar {
	position: relative;
	bottom: 0;
	height: 4.5em;
	width: 100%;
	background-color: #white;
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid #DE1F12;
}

.navbar-element {
	width: 25%;
	padding: 0;
	margin: 0;
	float: left;
	background-color: white;
	padding: none;
	border-left: none;
	border-bottom: none;
	border-top: none;
	border-right: none;
	height: 100%;
	color: #DE1F12;
}

/*.source {
	font-size: 25px;
}*/

.navbar-element-last {
	width: 25%;
	padding: 0;
	margin: 0;
	float: left;
	background-color: #white;
	border-right: none;
	height: 100%;
	color: #DE1F12;
}

button {
	border-radius: 0 !important;
}

.on-page {
	background-color: white;
}

.page {
	height: 100%;
	width: 100%;
	background-color: black;
	padding-bottom: 60px;
}

.trending {
	text-transform: uppercase;
	text-align: center;
	color: #DE1F12;
}

.trending-well {
	background-color: white;
	color: #DE1F12;
}

.places {
	text-align: center;
}

.places button {
	background-color: #DE1F12;
	color: white;	
}
.camera_shot{
	background-color:red;
	width:40%;
}


/* #pic1{
	max-height:14em;
}
#pic2{
	max-height:14em;
}*/