<!DOCTYPE HTML>
<html>
<head>
	<title>WearAbouts</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="custom.css" />
</head>
<body>
	<div class="navbar">
		<button id="page-1-button" type="button" class="navbar-element btn on-page"><i class="icon-camera-retro icon-2x"></i></button>
		<button id="page-2-button" type="button" class="navbar-element btn"><i class="icon-users icon-2x"></i></button>
		<button id="page-3-button" type="button" class="navbar-element btn"><i class="icon-bar-chart icon-2x"></i> </button>
		<button id="page-4-button" type="button" class="navbar-element btn"><i class="icon-power icon-2x"></i> </button>
	</div>

	<div id="page">
		<div id="page-1-content" style="display: none;">
			<img src="spinner.gif" style="display: block; margin: auto; margin-top: 50px;">

		</div>
		<div id="page-2-content" style="display: none;">
			<img src="spinner.gif" style="display: block; margin: auto; margin-top: 50px;">
		</div>
		<div id="page-3-content" style="display: none;">
			<img src="spinner.gif" style="display: block; margin: auto; margin-top: 50px;">
			<!-- <ol style="font-size:190%">
				<li id ="location-1-list"><a id="location-1">Location - n views</a></li>
				<li id ="location-2-list"><a id="location-2">Location - n views</a></li>
				<li id ="location-3-list"><a id="location-3">Location - n views</a></li>
				<li id ="location-4-list"><a id="location-4">Location - n views</a></li>
				<li id ="location-5-list"><a id="location-5">Location - n views</a></li>
				<li id ="location-6-list"><a id="location-6">Location - n views</a></li>
			</ol>	 -->
		</div>
		<div id="location-1-content" style="display:none;" >
			<p style="font-size:190%">Picture will go here from Location 1 <br/>
				<button id="meh" type="button" class="navbar-element btn" style="font-size:190%">Back</button> 
			</p>
		</div>
		<div id="location-2-content" style="display:none;" >
			<p style="font-size:190%">Picture will go here from Location 2 <br/>
				<button id="meh1" type="button" class="navbar-element btn" style="font-size:190%">Back</button> 
			</p>
		</div>
		<div id="location-3-content" style="display:none;" >
			<p style="font-size:190%">Picture will go here from Location 3 <br/>
				<button id="meh2" type="button" class="navbar-element btn" style="font-size:190%">Back</button> 
			</p>
		</div>
		<div id="location-4-content" style="display:none;" >
			<p style="font-size:190%">Picture will go here from Location 4 <br/>
				<button id="meh3" type="button" class="navbar-element btn" style="font-size:190%">Back</button> 
			</p>
		</div>
		<div id="location-5-content" style="display:none;" >
			<p style="font-size:190%">Picture will go here from Location 5 <br/>
				<button id="meh4" type="button" class="navbar-element btn" style="font-size:190%">Back</button> 
			</p>
		</div>
		<div id="location-6-content" style="display:none;" >
			<p style="font-size:190%">Picture will go here from Location 6 <br/>
				<button id="meh5" type="button" class="navbar-element btn" style="font-size:190%">Back</button> 
			</p>
		</div>
		<div id="page-4-content" style="display: none;">4</div>
	</div>
	


</body>
</html>